name: Generate Statistic
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:
jobs:
  stats:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Generate the user stats image
      uses: cicirello/user-statistician@v1
      with:
        locale: "id"
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
